@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Long+Cang&family=Noto+Serif+TC:wght@200;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f0eb;
  color: #0c0c0c;
  overflow-x: hidden;
}

/* Typography Utilities */
.vertical-rl {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 20px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
