@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Ma+Shan+Zheng&family=Noto+Serif+TC:wght@200;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F2F0EB;
  color: #0C0C0C;
  overflow-x: hidden;
}

/* Typography Utilities */
.vertical-rl {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #D1D5DB;
  border-radius: 20px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}