# App Configuration
APP_NAME="My Gravito Inertia Vue App"
APP_ENV=local
APP_DEBUG=true
APP_KEY=
PORT=3000

# Security
APP_CSP=false
APP_HSTS_MAX_AGE=15552000
APP_BODY_LIMIT=1048576

# Orbit Config
# STASIS_DRIVER=memory
# ATLAS_DB_TYPE=sqlite
# ATLAS_DB_DATABASE=database.sqlite
